body{
	background-color: #fff;
}

header{
	display: flex;
	flex-direction: column;
	justify-content: center; 
}

a{
	text-decoration: none;
	color: #000;	
}

.centro{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.centro img{
	padding: 10px;
}



.perfil{
	width: 100px;
	height: auto;
	border-radius: 50%;
	margin-top: 10px;
}

ul li a{
	margin-top: 10px;
	text-decoration: none;
	font-family: 'Roboto';
}

.card{
	margin: 10px;
}

.card:hover{
	border-color: black;
}

p{
	text-indent: 20px;
	text-align: justify;
}