header{
	display: flex;
	flex-direction: column;
	justify-content: center; 
}

.centro{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#perfil{
	width: 100px;
	height: auto;
	border-radius: 50%;
	margin-top: 10px;
}

#item-menu li a{
	text-decoration: none;
	font-family: 'Roboto';
}

.card{
	margin: 10px;
}

.card:hover{
	border-color: black;
}